.reg_main_frame {
	width: 700px;
	margin: 0 auto;
	margin-top: 3px;
}

.reg_main_frame table {
	width: 600px;
	line-height: 37px;
}
.tab_td {
	width: 110px;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	color: #808080;
	padding-right: 10px;
}
.remindSpan{
	color: #31708f;
  	background-color: #d9edf7;
  	border-color: #bce8f1;
  	padding: 8px;
  	margin-top:10px;
  	margin-bottom: 10px;
  	margin-left:5px;
  	border: 1px solid transparent;
  	border-radius: 4px;
  	height: 33px;
  	font-size: 12px;
}
#student_type,#student_univer{
	display: none;
}